<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body ng-controller="myController">
    <nav class='navbar navbar-default'>
      <a class="navbar-brand" href="#">Reddit Clone</a>
      <a class="navbar-text" ng-click="view.addingPost = true">
        + Submit Post
      </a>
    </nav>
    <div class="new-post" ng-show="view.addingPost">
      <form name="postForm" ng-submit="view.addPost(postForm.$valid)">
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <input autofocus class="form-control" type="text" id="title" name="title" ng-model="view.newPost.title" ng-required="true">
          <p ng-show="postForm.title.$invalid && postForm.$submitted">
            Required
          </p>
        </div>
        <div class="form-group">
          <label class="control-label" for="author">Author</label>
          <input class="form-control" type="text" id="author" name="author" ng-model="view.newPost.author" ng-required="true">
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image URL</label>
          <input class="form-control" type="text" id="image" name="image" ng-model="view.newPost.image" ng-required="true">
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input class="form-control" type="text" id="description" name="description" ng-model="view.newPost.description" ng-required="true">
        </div>
        <br />
        <input class="btn btn-primary" type="submit" value="Submit Post">
      </form>
    </div>
    <div class="post-div" ng-model="view.posts" ng-repeat="post in view.posts | orderBy:'-votes'">
      <div class="img-div">
        <img src={{post.image}} alt="movie poster" />
      </div>
      <div class="info-div">
        <h3>{{post.title}} |
          <span ng-click="post.votes = post.votes + 1" class="vote">&#11014;</span>
          <span ng-click="post.votes = post.votes - 1" class="vote">&#11015;</span>
          <span ng-class="{positive: post.votes > 0, negative: post.votes < 0}">{{post.votes}}</span>

        </h3>
        <h5>by {{post.author}}</h5>
        <p>
          {{post.description}}
        </p>
        <p>
          {{post.date}} |
          <span class="comments" ng-click="view.viewingComments = !view.viewingComments" >
            <ng-pluralize count="{{post.comments.length}}"
              when="{
                '0': 'No comments',
                'one': '{{post.comments.length}} comment',
                'other': '{{post.comments.length}} comments'}">
            </ng-pluralize>
          </span> |
          <span class="comments" ng-click="view.addingComment = !view.addingComment">Add comment</span>
        </p>
        <div ng-show="view.viewingComments === true">
          <ul>
            <li ng-repeat="comment in post.comments">
              <strong>{{comment.author}}</strong> {{comment.comment}}
            </li>
          </ul>
        </div>
        <div ng-show="view.addingComment === true">
          <form name="commentForm" ng-submit="addComment(post.title)">
            <div class="form-group comment-input">
              <input class="form-control" type="text" ng-model="view.newComment.author" name="author" placeholder="Author" ng-required="true">
            </div>
            <div class="form-group comment-input">
              <input class="form-control" type="text" ng-model="view.newComment.comment" name="comment" placeholder="Comment" ng-required="true">
            </div>
            <input class="btn btn-info" type="submit" value="Add Comment">
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
