img {
  max-width: 10vw;
}

li {
  list-style: none;
  list-style-type: none;
}

a:hover, a:visited, .linkish {
  text-decoration: none;
  cursor: pointer;
}

.post-div {
  background-image: linear-gradient(#fff 20%, #f8f8f8 100%);
  margin: 3vw;
  padding: 2vw;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.075);
  min-height: 20vw;
}

.info-div {
  display: inline-block;
  min-width: 100%;
}

.img-div {
  display: inline-block;
  margin-right: 2vw;
  float: left;
  position: absolute;
}

.indent {
  margin-left: 15%;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.vote:hover {
  cursor: pointer;
}

.new-post {
  margin: 3vw;
}

.comment-input {
  width: 30%;
  display: inline-block;
}

.text-green {
  color: #558a86;
}

.bg-green {
  background-image: none;
  background-color: #558a86;
}

.text-brown {
  color: #a63e14;
}

.bg-brown {
  background-image: none;
  background-color: #a63e14;
}

.text-grey {
  color: #bfbabe;
}

.bg-grey {
  background-image: none;
  background-color: #bfbabe;
}

.text-white {
  text-shadow: none;
  color: #f1f2f0;
}

.bg-white {
  background-image: none;
  background-color: #f1f2f0;
}
