img {
  max-width: 10vw;
}

li {
  list-style: none;
  list-style-type: none;
}

a:hover, a:visited, .linkish {
  text-decoration: none;
  cursor: pointer;
}

.post-div {
  height: 300px;
  background-image: linear-gradient(#fff 20%, #f8f8f8 100%);
  margin: 3vw;
  padding: 2vw;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.075);
}

.img-div {
  display: inline-block;
  float: left;
}

.info-div {
  width: 85%;
  display: inline-block;
  float: right;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.vote:hover {
  cursor: pointer;
}

.new-post {
  margin: 3vw;
}

.comment-input {
  width: 30%;
  display: inline-block;
}
